@charset "utf-8";
/* reset */

ul{
    text-decoration: none;
    list-style-type: none;
}
html,body,h1,h2,h3,dl,ul,li,dt,dd{
    padding:0;
    margin:0;
}
.hideClass{
    width:1px;
    height:1px;
    line-height: 0;
    position:fixed;
    visibility: hidden;
}
a{
    text-decoration: none;
    color:black;
    font:1em/23px arial,sans-serif;
}
img{
    width:100%;
    }
/* #wrap div */
#wrap{
    width:100%;
    margin:0 auto;
}
/* header */

header{
    padding:38px 100px 0;
    height:100px;
}
h1{
    float:left;
    width:200px;
}
nav{
    float:right;
}
nav>ul{
    display:flex;
}
nav>ul>li{
    padding:0 20px;
    text-transform: uppercase;

}
nav li>a{
    font:1rem/100px arial, sans-serif;
}
/* section 전체 CSS */
section{
    width:100%;
    padding:0 100px;
    box-sizing: border-box;
}
/* section01 */
#section01{
    padding:0;
    height:670px;
    background:url(../images/section01/img01.png) no-repeat center;
    background-size: cover;
}
.sec01Box{
    margin-top:223px;
    margin-right:50px;
    width:450px;
    float:right;
    text-align:left;
}
.sec01Box>h2{
    font:2.5em/70px arial,sans-serif;
    color:#fff;
}
.sec01Box>p{
    font:1.2em/32px arial,sans-serif;
    color:#fff;
}
.sec01Box>button{
 width:180px;
 font:1em/54px arial,sans-serif;
 background-color:#10c9c3;
 color:#fff;
 border:none;
 text-transform: uppercase;
}
/* section02 */
.sec02Box{
    margin:0 auto;
    width:590px;
    text-align: center;
    padding-top:100px;
    font:18px/27px arial,sans-serif;
}
.sec02Box>h2{
   font:bold 30px arial,sans-serif; 
}
.sec02Box>dl>dd{
    margin:0 auto;
    width:200px;
    padding-top:25px;
}
/* section03 */
#section03{
    background-color: #282828;
}
.sec03Box{
    padding:100px 15px;
    width:530px;
    font:12px arial, sans-serif;
}
.sec03Box>h2{
    font:bold 30px arial,sans-serif;
    padding-bottom:40px;
    color:#fff;
}
/* section03_스킬 퍼센트% */
.sec03dt{
    font:1.2em arial,sans-serif;
    color:#fff;
}
.sec03dt>span{
display:block;
text-align:right;
}
/* section03_퍼센트 막대기 */
@keyframes graph01 {
    0%{width:0;}
    100%{width:100%;}
}
@keyframes graph02 {
    0%{width:0;}
    100%{width:85%;}
}
@keyframes graph03 {
    0%{width:0;}
    100%{width:100%;}
}
.sec03dd{
    margin:18px 0;
    height:3px;
    background-color:#eee;
}
.sec03Dd01>span{
    width:100%;
    height:3px;
    box-sizing: border-box;
    display:block;
    text-align:right;
    font:14px/20px arial,sans-serif;
    background-color:#10c9c3;
    animation:graph01 3s 1;
}
.sec03Dd02>span{
    width:85%;
    box-sizing: border-box;
    height:3px;
    display:block;
    text-align:right;
    font:14px/20px arial,sans-serif;
    background-color:#10c9c3;
    animation:graph02 3s 1;
}
.sec03Dd03>span{
    width:100%;
    box-sizing: border-box;
    height:3px;
    display:block;
    text-align:right;
    font:14px/20px arial,sans-serif;
    background-color:#10c9c3;
    animation:graph03 3s 1;
}
/* section04 */
#section04{
    /* height:234px; */
    /* background-color: aquamarine; */
    padding:20px 100px;
}
#sec04Box{
    background-color: #eee;
    margin:0 auto;
}
.serviceContainer{
    display:flex;
}
.service{
    font:20px/100px arial, sans-serif;
    display:flex;
}
.service>span{
    width:100px;
    padding-right:2em;


}

/* section05 */
#section05{
    padding:0;
    overflow: hidden;
}
.sec05Box{
    width:120%;
    display:flex;
}
.sec05Box>li{
    width:10%;
}
#section05>button{
    border:none;
    width:100%;
    height:90px;
    font:20px arial, sans-serif;
    color:#8e8e8e;
}
/* section06_video */
#section06{

    text-align: center;
    padding:96px;
    /* background-color:#fdd; */
}
#sec06VideoBox{
    width:66.6%;
    box-sizing: border-box;
    margin:0 auto;
}
video{
    width:100%;
}
#section06>p{
    padding-bottom:57px;
}

/* section08 */
#section08{
    padding:0;
    width:100%;
    height:500px;
    background-color:#383838;
}
#sec08Box{
    width:820px;
    margin:0 auto;
    overflow: hidden; 
}
#sec08Box>ul{
    width:6830px;
}
#sec08Box>ul>li{
    padding-top:180px;
    width:820px;
    display:inline-block;
    text-align: center;
    color:#fff;
    font:20px/30px arial, sans-serif;
}
.sec08span2{
    padding-top:30px;
    display:block;
    font-weight: bold;
}
.sec08Btn{
padding-top:100px;
width:48px;
margin:0 auto;
}
.Btn{
    width:5px;
    height:5px;
    margin:2.5px 0;
    display:inline-block;
    background-color:#666;
    border-radius: 50%;
}
.select{
    width:10px;
    height:10px;
    margin:0;
    background-color: #fff;
}
/* section09 */
#section09{
    padding:0;
    background-color: #fff;
}
#section09>ul{
    width:1050px;
    margin:0 auto;
}
.bookmark{
    width:66.6%;
    margin:0 auto;
}
.susilogo{
    width:19%;
    display:inline-block;
}
/* section10 */
#section10{
    height:750px;
    background-color: #eee;
}
fieldset{
    width:670px;
    margin:0 auto;
    border:none;
}
legend{
    padding:100px 0;
    text-align: center;
    font:bold 30px arrial, sans-serif;
}
legend>span{
    font:normal 16px arial, sans-serif;
}
label{
    position:absolute;
    font:12px/50px arial, sans-serif;
    color:#666;
}
.name>li{
    display:inline-block;
    width:48%;
}
.name>li, .title, .text{
    position: relative;
}
.name>li:last-child{
    padding-left:20px;
}
.name>li:last-child>label{
    top:0;
    left:30px;
}
 .title>label, .name>li:first-child>label, .text>label{
    top:0;
    left:10px;
}
input, textarea{
    border:none;
    margin-bottom:10px;
    width:100%;
}
input{
    height:50px;
}
textarea{
    height:170px;
}
.submit{
    width:180px;
    margin:0 auto;
}
input[type="submit"]{
    background-color:#10c9c3;
    color:#fff;
    font:12px arial, sans-serif;
    text-transform: uppercase;
}
/* footer */
footer{
    height:285px;
    background-color: #000;
    color:#fff;
}
.footer{
    width:226px;
    padding:100px;
    font:20px arial, sans-serif;
    float:left;
}
.footer>span{
    font:15px arial, sans-serif;
}
.footerBox{
    width:820px;
    /* margin:0 auto; */
    float:right;
    padding:100px 0;
}
.footerBox>li{
    text-align:left;
    width:200px;
    display:inline-block;
}
footer ul>li>a{
    color:#fff;
}
.adress{
    padding-right:100px;
}
.navigation>ul>li{
    display:inline-block;
}
.navigation>ul>li>ul{
    padding-right:20px;
}
